.main {
  cursor: pointer;
  display: flex;
  box-sizing: border-box;
  margin: 0.5rem;
  border-radius: 2rem;
  width: 100%;
  height: 5rem;
  background-color: white;
  padding: 0.8rem;
  border: 1px solid gray;
}

.main:hover{
  opacity: 0.8;
}

.main img{
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  margin: 0 1rem 0 0;
}

.Content{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  color: gray;
}

.Header{
  font-size: 1.3rem;
}
