.StoreManageGrid_OuterDiv
{
    display: flex;
    flex-direction: column;
    width: auto;
    flex: auto;
    overflow: scroll;
}

.StoreManageGrid_Actions_div
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.StoreManageGrid_Actions_div input
{
    height: 4rem;
    width: 20rem;
    border:none;
    outline: none;
    font-size: xx-large;
    border-bottom: 2px solid silver;

}


.StoreManageGrid_Actions_div button:hover
{
    transform: scale(1.05);
    background-color: rgb(156, 212, 231);
}

.StoreManageGridList{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    overflow: scroll;
}


/* CUSTOM BUTTONS*/

.button54 {
    height: 3rem;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button54:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
  }
  
  @media (min-width: 768px) {
    .button54 {
      padding: 0.25em 0.75em;
    }
  }