.StoreManageGrid_OuterDiv
{
    display: flex;
    flex-direction: column;
    width: auto;
    flex: auto;
    overflow: scroll;
}

.StoreManageGrid_Actions_div
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.StoreManageGrid_Actions_div input
{
    height: 4rem;
    width: 20rem;
    border:none;
    outline: none;
    font-size: large;
    border-bottom: 2px solid silver;

}


.StoreManageGrid_Actions_div button:hover
{
    transform: scale(1.05);
    background-color: rgb(156, 212, 231);
}

.StoreManageGridList{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    overflow: scroll;
}


/*---------> SCROLL BAR REMOVALS <------------*/

.StoreManageGridList::-webkit-scrollbar{
  display: none;
}

.StoreManageGridList{
  -ms-overflow-style: none;
  scrollbar-width:none;
}

.StoreManageGrid_OuterDiv::-webkit-scrollbar{
  display: none;
}

.StoreManageGrid_OuterDiv{
  -ms-overflow-style: none;
  scrollbar-width:none;
}

/*---------> SCROLL BAR REMOVALS <------------*/

