
/*-----------------OUTER DIV---------------------*/
.AddProduct_OuterDiv_div
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(7, 7, 7, 0.5);
    z-index: 3;
}
/*-----------------OUTER DIV---------------------*/



/*---------------------SUBMIT FORM-----------------------*/
.AddProduct_form
{
    display: flex;
    flex-direction: column;
    background: white;
    height: 75%;
    width: 70rem;
    margin: 0 1rem 0 1rem;
    min-width: 25rem;
    overflow-y: scroll;
    }
/*---------------------SUBMIT FORM-----------------------*/

.AddProduct_HeaderActions_div {
    display: flex;
    justify-content: space-between;
    padding: 0.3rem;
}

.AddProduct_HeaderActions_div img
{
    height: 2rem;
    width: 2rem;
    margin: 1rem;
    background-color: red;
    border-radius: 50%;
    transition: all 0.1s ease;
}

.AddProduct_HeaderActions_div img:hover
{
    transform: scale(1.1);
}

.AddProduct_HeaderActions_div img:active
{
    transform: scale(1.2);
}

.AddProduct_HeaderActions_div button
{
    width: 10rem;
    outline: none;
    border: none;
    background-color: cornflowerblue;
    color: white;
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 1rem;
    cursor: pointer;
}

.AddProduct_HeaderActions_div button:hover{
opacity: 0.5;
}

.AddProduct_HeaderActions_div button:active{
    transform: scale(1.2);
}

.AddProduct_Body_div
{
    display: flex;
    flex-direction: column;
    flex: auto;
    overflow:hidden;
}

/*--------------------------------AddProduct_Body_Container1----------------------------*/
.AddProduct_Body_Container1
{
    display: flex;
    height: 15rem; 
}

.AddProduct_BodyImagePanel_div
{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    width: 20rem;
    border: 2px solid silver;


    
}

.AddProduct_BodyImagePanel_div img[alt='UploadTag']
{
    position: absolute;
    top: 30%;
    left:40%;
    height: 4rem;
    width: 4rem;
    opacity: 0;
    transition: all 0.2s ease;
}

.AddProduct_BodyImagePanel_div img[alt='ImagePreview']
{
    height: 40%;
    width: 40%;
    margin: 0.5rem;
}

.AddProduct_BodyImagePanel_div input[type='file']
{
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
}

.AddProduct_BodyImagePanel_div:hover img
{
    opacity: 1;
}

.AddProduct_BodyTagsPanel_div
{
    display: flex;
    flex-direction: column;
    position: relative;
    border: 1px solid silver; 
    flex: auto;
    
}

.AddProduct_BodyTagsPanel_InputOverlay_div
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(7, 7, 7, 0.5);
}

.AddProduct_BodyTagsPanel_InputOverlay_div input
{
    height: 2rem;
    width: 30%;
    outline: none;
    font-size: 1rem;
}

.AddProduct_BodyTagsPanel_InputOverlay_div img
{
    position: absolute;
    right: 0;
    top: 0;
    height: 1rem;
    width: 1rem;
    margin: 1rem;
    background-color: red;
    border-radius: 50%;
}

.AddProduct_BodyTagsPanel_InputOverlay_div img:hover
{
    transform: scale(1.2);
}

.AddProduct_BodyTagsPanel_InputOverlay_div img:active
{
    transform: scale(1.5);
}
.AddProduct_BodyTagsPanel_ADDTAG_div
{
    display: flex;
    height: 2rem;
    padding: 0.3rem;
    align-items: center;
}

.AddProduct_BodyTagsPanel_ADDTAG_div img
{
    height: 2rem;
    width: 2rem;
    margin:0 2rem 0 2rem;
}


.AddProduct_BodyTagsPanel_TAGS_div
{
    display: flex;
    flex-wrap: wrap;
    flex: auto;
    padding: 0.5rem;
}


.AddProduct_BodyTagsPanel_TAGS_div span
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    width: 10rem;
    margin: 2rem;
    height: 2rem;
    border-radius: 1rem;
    background-color: skyblue;
}
/*--------------------------------AddProduct_Body_Container1----------------------------*/

/*--------------------------------AddProduct_Body_Container2----------------------------*/

.AddProduct_Body_Container2
{
    display: flex;
    justify-content: center;
    flex: auto;
    flex-wrap: wrap;
    overflow: scroll;
}

.AddProduct_BodyInfoCollectForm_div
{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    height: 2rem;
}

.AddProduct_BodyInfoCollectForm_div input
{
    border: 0;
    outline: 0;
    width: 15rem;
    background-color: transparent;
    border-bottom: 2px solid silver;
    font-size: 1.5rem;
}

.AddProduct_BodyInfoCollectForm_div span
{
    position: absolute;
    pointer-events: none;
    top:1rem;
    left: 20px;
    color: rgb(95, 95, 95);
    transition: all 0.4s ease;
}


.AddProduct_BodyInfoCollectForm_div input:focus + span
{
    top:-0.5rem;
}

.AddProduct_BodyInfoCollectForm_div input:valid + span
{
    top:-0.5rem;
}

.AddProduct_Animation_div
{
    position: absolute;
    top:2.9rem;
    border: 0.1px solid red;
    height: 0.03rem;
    transform: scaleX(0);
    transition: all 0.4s ease;
}

.AddProduct_BodyInfoCollectForm_div input:focus ~ div
{
    transform: scaleX(125);
}

.AddProduct_Body_Container2_Input1
{
    display: flex;
    flex-wrap: wrap;
    flex: 0.7;
}

.AddProduct_Body_Container2_Input2
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 0.3;
    box-sizing: border-box;
    padding: 1rem;
}

.AddProduct_Body_Container2_Input2 textarea
{
    font-size: x-large;
    height: 10rem;
    width: auto;
    border: 2px solid silver;
    outline: none;
}

.AddProduct_Body_Container2_Input2_ColorPicker
{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    flex: auto;
}

.AddProduct_Body_Container2_Input2_ColorPicker_header 
{
    position: relative;
    display: flex;
    align-items: center;
    flex: auto;
}

.AddProduct_Body_Container2_Input2_ColorPicker_header input[type='color']
{
    position: absolute;
    height: 3rem;
    opacity: 0;
    
}


.AddProduct_Body_Container2_Input2_ColorPicker_header img
{
    height: 2rem;
    width: 2rem;
    transform: scale(1);
    pointer-events: none;
    margin: 0.5rem 1rem 0rem 0rem;
}

.AddProduct_Body_Container2_Input2_ColorPicker_header input[type='color']:active + img
{
    transform: scale(1.2);
}



.AddProduct_Body_Container2_Input2_ColorPicker_footer
{
    display: flex;
    flex: auto;
    overflow: scroll;
    flex-wrap: wrap;
}

.AddProduct_Body_Container2_Input2_ColorPicker_footer_colordiv
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 2rem;
    margin: 1rem;
}

.AddProduct_Body_Container2_Input2_ColorPicker_footer_colordiv img{
    height: 1rem;
    width: 1rem;
    pointer-events: none;
}

/*--------------------------------AddProduct_Body_Container2----------------------------*/


