.Store
{
    position: relative;
    display: flex;
    flex: auto;
    height: calc(100vh - 5rem);
    background-color: rgb(246, 246, 246);
}

.StoreProductPage
{
    display: flex;
    padding: 2rem;
    flex-wrap: wrap;
    flex: auto;
    overflow-y:scroll ;
}

