.Store
{
    position: relative;
    display: flex;
    flex: auto;
    height: calc(100vh - 5rem);
}

.StoreProductPage
{
    display: flex;
    padding: 2rem;
    flex-wrap: wrap;
    flex: auto;
    overflow-y:scroll ;
}

