.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh;
  background-color: rgb(246, 246, 246);
}

.signupcard {
  background-color: white;
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.signupcard .signupcardinput {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.signupcard .inputdata {
  position: relative;
  padding: 50px;
  width: 300px;
}

.signupcard .inputdata input {
  width: 100%;
  border: none;
  border-bottom: 2px solid silver;
  outline: none;
  font-size: 20px;
}

.signupcard .inputdata label {
  position: absolute;
  bottom: 55px;
  color: gray;
  pointer-events: none;
  transition: all 0.3s ease;
  font-size: 20px;
}

.signupcard .inputdata .underline {
  position: relative;
  background: red;
  height: 2px;
  width: 100%;
  bottom: 2px;
  transform: scaleX(0);
  transition: all 0.3s ease;
}

input[type="date"]:required:invalid {
  /* Chrome/Opera/Safari */

  color: transparent;
}

input[type="date"]:required:valid {
  /* Chrome/Opera/Safari */

  color: black !important;
}

input[type="date"]:required:focus {
  /* Chrome/Opera/Safari */

  color: grey !important;
}

input[type="date"]:required:focus {
  /* Firefox 19+ */

  color: black;
}

.form {
  display: flex;
  justify-content: center;
  height: 80%;
}
/*---------------------EFFECTS----------------------*/

.signupcard .inputdata input:focus ~ label,
.signupcard .inputdata input:valid ~ label {
  bottom: 80px;
}

.signupcard .inputdata input:focus ~ .underline,
.signupcard .inputdata input:valid ~ .underline {
  transform: scaleX(1);
}

.AuthenticationStrategies{
  display: flex;
  margin: 2rem 0rem 0rem 0rem;
}

.AuthenticationStrategies__Icon{
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  margin: 1rem;
}
