.OuterMostContainer
{
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.266);
    z-index: 3;
}

.OuterMostContainer__ProductUploadForm
{
    display: flex;
    flex-direction: column;
    height: 95%;
    width: 95%;
    background-color: white;
    overflow: scroll;
    min-width: 30rem;
}

.ProductUploadForm__FormHeader
{
    position: sticky;
    top:0;
    min-height: 4rem;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(246, 246, 246);
    z-index: 1;
}

.ProductUploadForm__FormHeader button
{
    margin-right: 1rem;

}

.ProductUploadForm__FormHeader img
{
    height: 1.5rem;
    width: 1.5rem;
    margin-left: 1rem;
    background-color: rgba(255, 0, 0, 0.313);
    border-radius: 2rem;
    cursor: pointer;
}   

.ProductUploadForm__Container1
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;   
    margin: 0.2rem;
}

.Container1__ImagePanel
{
    position: relative;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    min-width: 20rem;
    width: 30rem;
    margin: 1rem;
    height: 20rem;
    overflow: hidden;
}

.ImagePanel__UploadIcon
{
    position: absolute;
    top: 45%;
    left: 45%;
    height: 3rem;
    width: 3rem;
    opacity: 0.5;
}

.Container1__ImagePanel input[type='file']
{
    position: absolute;
    top: 45%;
    left: 45%;
    height: 20%;
    width: 10%;
    opacity: 0;
    cursor: pointer;

}


.ImagePanel__ImageList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: scroll;
}
.ImageList__ImageContainer
{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 50%;
    width: 40%;
    margin: 1rem;
    border-radius: 1rem;
    aspect-ratio: 1;
}

.ImageContainer__ProductImage
{
    height: 80%;
    width: 100%;
}

.ImageContainer__CloseBtn
{
    position: absolute;
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
    top: 0;
    right: 0;
    border-radius: 50%;
    background-color: red;
    opacity: 0.5;
}

.ImageContainer__ColorPanel
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20%;
}

.ImageContainer__ColorPanel span
{
    color: gray;
    font-weight: bolder;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Container1_BodyTagsPanel
{
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    margin: 1rem;
    min-width: 30rem;
    width: 50%;
    height: 20rem;
}

.BodyTagsPanel_Header
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    background-color: rgb(246, 246, 246);
}

.BodyTagsPanel_Header img
{
    position: absolute;
    top: 1;
    left: 0;
    height: 2rem;
    width: 2rem;
    margin: 0rem 0rem 0rem 1rem;
    cursor: pointer;
    opacity: 0.5;
}

.BodyTagsPanel_Header span
{
    margin-left: 3rem;   
    font-weight: bolder;
    color: gray;
    font-size: 1.5rem;
}

.BodyTagsPanel_InputOverlay
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.372);
    z-index: 1;
}

.BodyTagsPanel_InputOverlay input{
    height: 2rem;
    width: 15rem;
}

.InputOverlay__CloseBTN
{
    position: absolute;
    top:0;
    right: 0;
    z-index: 1;
    height: 1.5rem;
    width: 1.5rem;
    background-color: red;
    border-radius: 50%;
    opacity: 0.5;
    cursor: pointer;
}

.BodyTagsPanel_Tags
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: auto;
    overflow: scroll;
}

.BodyTagsPanel_Tags span{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: 1px solid silver;
    color: silver;
    height: 2rem;
    border-radius: 1rem;
    margin: 1rem;
}

.Tags__CloseBTN
{
    position: absolute;
    top: -0.5rem;
    right: 0;
    padding: 0.2rem;
    border-radius: 50%;
    background-color: red;
    height: 1rem;
    width: 1rem;
    opacity: 0.5;
    cursor: pointer;
}

.ProductUploadForm__Container2
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.Container2__Header
{
    display: flex;
    justify-content: center;
    background-color: rgb(246, 246, 246);

}

.Container2__Input1
{
    display: flex;
    flex-direction: column;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    min-height: 20rem;
    min-width: 30rem;
    width: 40%;
    margin: 1rem;
}

.Input1__Page1
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.Input1__Page2
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.Container2__Input2
{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    height: 20rem;
    min-width: 30rem;
    width: 40%;
    margin: 1rem;
}


.Container2__Input2 textarea
{
    outline: none;
    border: none;
    height: 90%;
    width: 90%;
    font-size: 1.5rem;
    color: gray;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.Input1__BodyInfoCollectForm
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    min-width: 18rem;
    margin: 1.5rem;
    padding: 0.2rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

.Page2__BodyBusinessCollectForm
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 0.3;
    margin: 2rem 0rem 1rem 0rem;

}


.BodyBusinessCollectForm__CheckBox{
    display: flex;
    align-items: center;
    height: 100%;
    min-width: 20rem;
    flex: 0.5;
    margin: 0rem 1rem 0rem 1rem;
}

.BodyBusinessCollectForm__CheckBox span{
    color: gray;
    font-size: large;
    margin: 0rem 1rem 0rem 0rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.BodyBusinessCollectForm__CheckBox input
{
    height: 1.5rem;
    width: 1.5rem;
}

.BodyBusinessCollectForm__CheckBox_visible
{
    display: flex;
    align-items: center;
    height: 100%;
    flex: 0.5;   
}

.CheckBox__Options{
    margin: 0rem 0rem 0rem 1rem;
}

.CheckBox__Options span{
    color: gray;
    font-size: large;
    margin: 0rem 1rem 0rem 0rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.CheckBox__Options input
{
    height: 1.5rem;
    width: 1.5rem;
}


.Input1__BodyInfoCollectForm input
{
    border: none;
    outline: none;
    font-size: 1.2rem;
    color: gray;
}


.Input1__BodyInfoCollectForm input[type='checkbox']
{
    border: none;
    outline: none;
    font-size: 1.2rem;

}

.Input1__BodyInfoCollectForm span{
    font-size: 1.2rem;
    color: gray;
    margin: 0rem 1rem 0rem 0rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/*---------> SCROLL BAR REMOVALS <------------*/

.ImagePanel__ImageList::-webkit-scrollbar{
    display: none;
  }
  
.ImagePanel__ImageList{
-ms-overflow-style: none;
scrollbar-width:none;
}


.BodyTagsPanel_Tags::-webkit-scrollbar{
    display: none;
  }
  
.BodyTagsPanel_Tags{
-ms-overflow-style: none;
scrollbar-width:none;
}

.OuterMostContainer__ProductUploadForm::-webkit-scrollbar{
    display: none;
  }
  
.OuterMostContainer__ProductUploadForm{
-ms-overflow-style: none;
scrollbar-width:none;
}


/*---------> SCROLL BAR REMOVALS <------------*/
  